/*------------------------------------------------------------
  img
------------------------------------------------------------*/
.alignleft{
	float:left
}
.alignright{
	float:right
}
.aligncenter{
	float:display:block;margin:0 auto
}